<!-- En el directorio componentes van las componentes, que serian cada parte que va a estar en la pagina web. Se le puede establecer su propio comportamiento y sus estilos -->
<!-- En el directorio servicios va toda la logica de negocio, desde aqui vamos a acceder a la api rest -->
<!-- En el directorio modelos van a ir todas las clases o beans -->

<!-- Crear componente: ng g c --spec false NOMBRE -->
<!-- Crear modelo: ng g class NOMBRE -->
<!-- Crear servicio: ng generate service NOMBRE -->

<!-- Selectores -->

<app-nav></app-nav>

<router-outlet></router-outlet>

<footer class="container">
    <p>&copy; Cuentas Claras 2023</p>
</footer>