<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-5">Un poco de historia:</h3>
            <p>La veterinaria Malapata y hnos fue fundada en 1999 por Enrique y Walter Malapata, ambos oriundos de Carmen de Areco, Provincia de Buenos Aires, luego de haberse graduado de Licenciatura en Veterinaria en la Universidad Nacional de La Plata.
                Atravesando diferentes inclemencias tanto climáticas como políticas y económicas, la veterinaria siempre supo como mantenerse, sabiendo que la higiene y el amor por los animales va más allá de cualquier interés económico. Su principal cometido es brindar un servicio acorde a la cantidad de amor que nuestros pichichos nos ofrecen.</p>
        </div>
    </div>
</main>